@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url("../fontes/idroid.otf");
    font-weight: normal;
}


:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font-default: Arial, Verdana, Helvetica, sans-serif;
    --font-android: 'Android', cursive;
    --font-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-default);
}

header{
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
}

header > h1 {
    color: whitesmoke;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.667);
}

header > p {
    color: wheat;
    font-family: var(--font-default);
    font-size: 1.2em;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.563);
    /* padding-left: 10px; */
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    max-width: 500px;
    text-shadow: ;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 0px purple;
}